# python_version=3.11
# apache-airflow version MUST be equal to airflow version
apache-airflow[async,azure,amazon,elasticsearch,google,password,cncf.kubernetes,mysql,postgres,redis,slack,ssh,statsd,virtualenv]==2.9.0
doublecloud==0.14.0
apache-airflow-providers-amazon==8.19.0
apache-airflow-providers-apache-hive==6.4.2
apache-airflow-providers-apache-livy==3.7.1
apache-airflow-providers-celery==3.6.1
apache-airflow-providers-cncf-kubernetes==8.0.1
apache-airflow-providers-common-sql==1.11.1
apache-airflow-providers-databricks==6.1.0
apache-airflow-providers-datadog==3.5.1
apache-airflow-providers-dbt-cloud==3.6.0
apache-airflow-providers-elasticsearch==5.3.3
apache-airflow-providers-ftp==3.7.0
apache-airflow-providers-google==10.16.0
apache-airflow-providers-http==4.10.0
apache-airflow-providers-imap==3.5.0
apache-airflow-providers-microsoft-azure==9.0.1
apache-airflow-providers-microsoft-mssql==3.6.0
apache-airflow-providers-openlineage==1.6.0
apache-airflow-providers-postgres==5.10.2
apache-airflow-providers-redis==3.6.0
apache-airflow-providers-sftp==4.9.0
apache-airflow-providers-snowflake==5.3.1
apache-airflow-providers-sqlite==3.7.1
apache-airflow-providers-ssh==3.10.1
airflow-clickhouse-plugin==1.4.0
astro-sdk-python==1.8.0
astronomer-cosmos==1.3.2
astronomer-providers[amazon,apache.hive,apache.livy,cncf.kubernetes,databricks,dbt.cloud,google,http,microsoft.azure,sftp,snowflake]==1.19.0
requests==2.31.0
