# python_version=3.11
# apache-airflow version MUST be equal to airflow version
apache-airflow[async,azure,amazon,elasticsearch,google,password,cncf.kubernetes,mysql,postgres,redis,slack,ssh,statsd,virtualenv]==2.7.1
apache-airflow-providers-amazon==8.6.0
apache-airflow-providers-apache-hive==6.2.0
apache-airflow-providers-apache-livy==3.6.0
apache-airflow-providers-celery==3.3.3
apache-airflow-providers-cncf-kubernetes==7.5.0
apache-airflow-providers-common-sql==1.7.1
apache-airflow-providers-databricks==4.6.0
apache-airflow-providers-datadog==3.4.0
apache-airflow-providers-dbt-cloud==3.4.0
apache-airflow-providers-elasticsearch==5.0.0
apache-airflow-providers-ftp==3.5.1
apache-airflow-providers-google==10.7.0
apache-airflow-providers-http==4.5.1
apache-airflow-providers-imap==3.3.1
apache-airflow-providers-microsoft-azure==6.3.0
apache-airflow-providers-microsoft-mssql==3.5.0
apache-airflow-providers-postgres==5.6.0
apache-airflow-providers-redis==3.3.1
apache-airflow-providers-sftp==4.7.0
apache-airflow-providers-snowflake==5.0.1
apache-airflow-providers-sqlite==3.4.3
apache-airflow-providers-ssh==3.8.0
astro-sdk-python==1.7.0
astronomer-cosmos==1.2.0
astronomer-providers[all]==1.17.3
openlineage-airflow==1.1.0
requests==2.31.0
