# python_version=3.12
# apache-airflow version MUST be equal to airflow version
apache-airflow[async,azure,amazon,elasticsearch,google,password,cncf.kubernetes,mysql,postgres,redis,slack,ssh,statsd,virtualenv]==2.10.0
apache-airflow-providers-amazon==8.27.0
apache-airflow-providers-apache-hive==8.1.2
apache-airflow-providers-apache-livy==3.8.1
apache-airflow-providers-celery==3.7.3
apache-airflow-providers-cncf-kubernetes==8.3.4
apache-airflow-providers-common-sql==1.15.0
apache-airflow-providers-databricks==6.8.0
apache-airflow-providers-datadog==3.6.1
apache-airflow-providers-dbt-cloud==3.9.0
apache-airflow-providers-elasticsearch==5.4.2
apache-airflow-providers-ftp==3.10.1
apache-airflow-providers-google==10.21.1
apache-airflow-providers-http==4.12.0
apache-airflow-providers-imap==3.6.1
apache-airflow-providers-microsoft-azure==10.3.0
apache-airflow-providers-microsoft-mssql==3.8.0
apache-airflow-providers-openlineage==1.10.0
apache-airflow-providers-postgres==5.11.3
apache-airflow-providers-redis==3.7.1
apache-airflow-providers-sftp==4.10.3
apache-airflow-providers-snowflake==5.6.1
apache-airflow-providers-sqlite==3.8.2
apache-airflow-providers-ssh==3.12.0
astro-sdk-python==1.8.1
astronomer-cosmos==1.6.0
astronomer-providers[amazon,apache.hive,apache.livy,cncf.kubernetes,databricks,dbt.cloud,google,http,microsoft.azure,sftp,snowflake]==1.19.0
requests==2.32.3
